$backgroundColor: #6b6dff;
$letterColor: #FFF;

.keyboard {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: $backgroundColor;
    box-shadow: 0 0 50px rgba($color: #000000, $alpha: .5);
    transition: bottom .5s;
    user-select: none;  

    & * {
        margin: 0;
        padding: 0;
    }

    button:focus, input:focus, textarea:focus {
        outline: none;
    }

    .keyboard__keys {
        text-align: center;

        .keyboard__key {
            position: relative;
            height: 45px;
            width: 6%; 
            max-width: 70px;
            border: 4px solid transparent;
            border-radius: 5px;
            background-color: rgba($color: #FFF, $alpha: .2);
            color: $letterColor;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            transition: all .09s;
            cursor: pointer;
        
            &:active {
                transform: scale(1.15);
            }

            &.keyboard__key--wide {
                width: 10%;
                max-width: 140px;
            }

            &.keyboard__key--extra-wide {
                width: 45%;
                max-width: 600px;
            }

            &.keyboard__key--activatable {
                &::after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 8px;
                    height: 8px;
                    background-color: rgba($color: #FFF, $alpha: .5);
                    border-radius: 50%;
                }

                &.keyboard__key--active::after {
                    background-color: #5eea59;
                }
            }     
            
            &.keyboard__key--dark {
                background-color: rgba($color: #000000, $alpha: .2);
            }
        }

        .keyboard__input {
            padding: 10px;
            background-color: rgba($color: #000000, $alpha: .2);
            border: none;
            color: #FFF;
            font-size: 1.05rem;
            margin: 15px 0;
            border-radius: 4px;
            width: 60%;
            max-width: 600px;
            letter-spacing: 1.5px;
            &::placeholder {
                color: #FFF;
            }
        }
    }

    &--hidden {
        bottom: -100%;
    }

    .languages__list {
        position: absolute;
        list-style: none;
        right: 115%;
        display: none;

        .language__item {
            background-color: #FFF;
            border-radius: 5px;
            margin-bottom: 4px;
            padding: 2px;
            width: 40px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #555;
            transition: transform .2s;

            &:hover {
                opacity: .8;
                transform: scale(1.2);
            }
        }

        &.show {
            display: block;
        }
    }
}